@if(isLoading){
<div class="h-full w-full fixed flex items-center justify-center text-xl bg-[#222222] z-30">
  <div class="loader"></div>
</div>
}

<div class="flex items-center justify-between px-6 mt-6 mb-2 lg:mb-6 max-[400px]:px-1">
  <div
    class="lg:absolute top-14 left-4 max-[400px]:w-12 max-[400px]:h-12 w-16 h-16 max-[400px]:text-xl text-2xl rounded-full border border-white bg-[#222222] font-bold flex items-center z-0 justify-center"
    [ngClass]="{'text-green-500': countdownTIme > 5, 'text-red-500': countdownTIme >= 0 && countdownTIme <= 5}">
    {{countdownTIme}}
  </div>

  <div
    class="break-words lg:w-72 lg:h-10 lg:absolute  max-[400px]:text-lg text-xl font-bold top-14 right-4 transform hover:scale-105 transition-all duration-150 ease-in bg-[#222222] text-white flex items-center justify-end">
    Score: {{points}}
  </div>



  <div
    class="lg:w-72 lg:h-10 text-center pl-2 lg:absolute max-[400px]:text-lg text-xl font-bold top-24 right-4 transform hover:scale-105 transition-all duration-150 ease-in bg-[#222222] text-white  flex items-center justify-end">
    <h1>Q.{{ currentQuestionIndex + 1 }} of 20</h1>
  </div>

</div>



<form class="w-full h-full max-[400px]:min-h-[90vh]  min-h-[70vh] flex flex-col items-center justify-center space-y-12">

  <!-- Display the current question using @if to check if we have questions -->
  @if (questions.length > 0) {
  <h1 class="w-11/12 lg:w-1/2 font-mono font-bold text-blue-300 text-xl text-center">
    {{ questions[currentQuestionIndex]?.question }}
  </h1>


  <!-- Display options using @for for the current question -->
  <div class="flex items-center justify-center flex-col space-y-5 w-full">
    @for (option of options; track $index) {
      <div tabindex="0"
        class="w-11/12 flex items-center justify-center hover:bg-gray-300 hover:text-black space-x-5 shadow-md lg:w-1/3 py-2 rounded cursor-pointer focus-visible"
        [ngClass]="{
          'bg-green-500': result === 'correct' && option === correctAnswer || (result == 'incorrect' && option === correctAnswer),
          'bg-red-500': result === 'incorrect' && option === selectedAnswer,
          'border-2 border-blue-300 hover:bg-transparent hover:text-white': selectedAnswer === option
        }" (click)="selectedOption(option)">
  
        <input type="radio" [id]="'option-' + $index" name="options" [value]="option" class="appearance-none hidden">
  
        <h5 class="font-sans text-center text-lg">{{ option }}</h5>
      </div>
    }
  </div>
  

<div class="w-full h-full space-y-3 flex flex-col items-center justify-center">
  <button (click)="onSubmit()" type="submit" [disabled]="countdownTIme == 0"
  class="w-11/12 lg:w-1/3 h-10 transform hover:scale-105 transition-all duration-150 ease-in bg-green-600 hover:bg-green-700 text-white font-medium"
  [ngClass]="{'pointer-events-none' : countdownTIme == 0, 'bg-green-700' : countdownTIme == 0}">
    Submit
  </button>

  <button (click)="nextQuestion()"
    class="w-11/12 lg:w-44 lg:absolute right-4 bottom-4 h-10  transform hover:scale-105 transition-all duration-150 ease-in bg-blue-500 hover:bg-blue-600 lg:bg-yellow-500 lg:hover:bg-yellow-600 text-white font-medium">
    Next Question
  </button>
  
  <button routerLink=""
  class="w-11/12 lg:w-44 hidden lg:flex items-center justify-center lg:absolute left-4 bottom-4 h-10 transform hover:scale-105 transition-all duration-150 ease-in bg-blue-500 hover:bg-blue-600 text-white font-medium">
  Home
</button>
</div>

  }
  @else {

  <h1 class="text-red-500 text-2xl">No questions available.</h1>
  }
</form>