<div class="w-full h-full min-h-[70vh] flex flex-col items-center justify-center space-y-12">

  <!-- Display the current question using @if to check if we have questions -->
  @if (questions.length > 0) {
  <h1 class="font-mono font-bold text-blue-300 text-xl w-1/2 text-center">
    Q.{{ currentQuestionIndex + 1 }} {{ questions[currentQuestionIndex]?.question }}
  </h1>

  <!-- Display options using @for for the current question -->
  <div class="flex items-start justify-center flex-col space-y-5">
    @for (option of questions[currentQuestionIndex]?.options; track $index) {
    <div class="flex items-center justify-center space-x-5">
      <input type="radio" [id]="'option-' + $index" name="options" [value]="option" class="cursor-pointer">
      <h5 class="font-sans font-medium text-green-400 text-center text-lg">{{ option }}</h5>
    </div>
    }
  </div>

  <!-- Button to go to the next question -->
  <button (click)="nextQuestion()" class="mt-5 px-6 py-2 bg-blue-500 text-white rounded">
    Next Question
  </button>
  }
  @else {

  <h1 class="text-red-500 text-2xl">No questions available.</h1>
  }
</div>